Skip to main contentSkip to toolbar

Dashboard
Home
Updates 
1

Posts
All Posts
Add New
Categories
Tags

Media
Library
Add New

Pages
All Pages
Add New

Comments

Contact
Contact Forms
Add New
Integration

WPForms
All Forms
Add New
Entries
Settings
Addons

Appearance
Themes
Customize
Widgets
Menus
Editor

Plugins 
1
Installed Plugins
Add New
Editor

Users
All Users
Add New
Your Profile

Tools
Available Tools
Import
Export

Settings
General
Writing
Reading
Discussion
Media
Permalinks
Akismet
AddToAny

Huge-IT Gallery
Galleries
Advanced Features PRO
Lightbox Options
Featured Plugins
Licensing
Collapse menu
About WordPress
Seriously,
11 Plugin Update
00 comments awaiting moderation
New
Howdy, Liz
Log Out
Help
Edit Themes
Seriously: Stylesheet (style.css)
Select theme to edit:    Select

Templates
404 Template
(404.php)
Archives
(archive.php)
Theme Footer
(footer.php)
Theme Functions
(functions.php)
Theme Header
(header.php)
Main Index Template
(index.php)
Single Page
(page.php)
Search Results
(search.php)
Sidebar
(sidebar.php)
Single Post
(single.php)
Styles
Stylesheet
(style.css)
nav.css

/*
Theme Name: Seriously 
Theme URI:  http://www.lizstonesthrow.com/
Description:  Seriously
Author: Liz S.
Author URI:   http://www.lizstonesthrow.com/
Version:  1.0
Tags: Responsive, simple, clean
License:
License URI:
General comments: created for my cousin, Ian Stone, and his Seriously, That's Not Funny podcast website. 
 */

	*  {
		padding:0;
		margin:0;
}

	body{
		background: #9C968E;
		font-family: Geneva, Tahoma, Verdana, sans-serif;
		margin: 0 auto;
}

	p#small{
	font-size:.8em;
	line-height: 1em;
}
	div#page{
		width:60%;
		margin:0 auto;
		padding:0 1em;
		border-left: .25em solid #527F68;
		border-right: .25em solid #527F68;
	}
	
	 a{
		text-decoration: none;
		color:black;
	}
	.div a{
		text-decoration: none;
		color:black;
	}
	
	.entry a{
		text-decoration: none;
		color:#EDBB3A /*yellow*/;
	}

	div#header{
		color: black;
		background: #B83441;
		border-radius: 5px;
		font-family: Copperplate, "Copperplate Gothic Light", fantasy;
		font-size:4em;
		margin:0;
		margin-top:.3em;
		line-height:.7em;
		padding:0 .8em .4em .8em;	
	}

	


/********Main Navigation*********/

	#nav_menu-2 {
	list-style-type: none;
  	margin: 0;
  	overflow: hidden;
	color:black; 
	}

	ul.menu li {
	float: left;
	width:16.6666667%;
	text-align:center;
	display: inline-block;
  	padding: 2em 0 2em 0;
  	text-decoration: none;
  	transition: 0.3s;
	}
/*******end Navigation**********/

/******Search********/

	#searchform{
	display:block;
	text-align:right;
	margin-top: -.5em;
	/*margin:1.25em auto auto 1em;*/
	}

	.screen-reader-text{
	text align: right;
}

	input[type="text"]{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	height:2em;
	border:.2em solid #527F68;
	margin:1em 1em 1em .3125em;
	width:30%;
	padding-left:.625em;
	background: #9C968E;
	border-radius: 5px;
	}

	input[type=submit]{
	width:15%;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-weight:bold;
	color:white;
	background:#527F68; 
	height:2em;
	border:none;
	margin:0 0 1.25em 4em;
	border-radius: 5px;
	}
/******End Search*****/

/******Blog*******/
	
	div.wp-embedded-content{
	background: #9C968E;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	}
	
	p#indent{
		padding:.5em 1.5em;
	}
	
	div p{
		line-height:1.7em;
		margin:1.2em;
	}
	
	.entry-body ul{
		padding:0 0 0 2.4em;
	}
	.dropcap span:first-of-type {
		float:left;
		font-size:1.5em;
		margin:0 .4em 0 0;
		line-height:.7;
		font-family:Copperplate, "Copperplate Gothic Light", fantasy;
		font-weight:bold;
	}
	
	h1{
		font-size:1.5em;
		line-height:1em;
		font-family:Copperplate, "Copperplate Gothic Light", fantasy;
		font-weight:bold;
		padding:.3em .7em .2em .3em;

	}
	h2 {
		font-size:1.5em;
		line-height:1.5em;
		font-family:Copperplate, "Copperplate Gothic Light", fantasy;
		font-weight:bold;
		padding: .7em .7em .7em .7em;
		padding-bottom: 0;
 		text-transform: uppercase;	
	}
	 
	h3{
		font-size:1em;
		line-height:.7;
		font-weight:normal;
		font-family:Geneva, Tahoma, Verdana, sans-serif;
		padding: .7em .7em .7em 1em;
		padding-bottom: 0;	
	}

	h4 {
		padding-left: 2.5em;
		font-weight: normal;
	}
	
	blockquote{
		background: rgba(237, 187, 58, .4);
		padding: 0 1em 1em 2em;
		border-radius: 5px;
	}

	/*podcast iframe*/
	iframe{
		width:100%;
		height:10em;
		border:.19em solid #527F68;
		border-radius: 5px;
		
	}
	
	/*Form*/
	label {
		display:block;
		text-align:left;
		margin:1.25em auto auto 1em;
		padding-left:.5em;
	}

	input[type="text"],
	input[type="email"]
	{
		  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
		  height:2em;
		  border:.2em solid #527F68;
		  margin:1em 1em 1em .3125em;
		  width:30%;
		  padding-left:.625em;
		  background: #9C968E;
		  border-radius: 5px;
	}

	textarea {
		  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
		  resize: none;
		  margin:1em 1em 1em .3125em;
		  padding:.625em;
		  height:100px;
		  width:90%;
		  border:.2em solid #527F68;
		  border-radius: 5px;
		  background: #9C968E;
	}
	select {
		  outline: none;
		  text-indent: 0.01px;
		  text-overflow: '';
		  border:black;
	}
	input[type=submit]{
		width:15%;
		font-family: Copperplate, "Copperplate Gothic Light", fantasy;
		font-weight:bold;
		color:white;
		background:#527F68; 
		height:2em;
		border:none;
		margin:0 0 1.25em 4em;
		border-radius: 5px;
	}
	
	.g-recaptcha{
		  margin: 1.8em;
	}

	.addtoany_share_save_container{
		padding-top:2em;
		float:right;
	}	
	
	/* Footer */
	div#footer{
		padding:.625em;
		clear:both;
		margin-top:2em;
        	margin-bottom:4em;
		line-height:3em;
		color:black;
		font-size:.7em;
	}

	div#footer ul{
		overflow:hidden;
		width:70%;
		margin:0 auto;
	}

	div#footer li{
		list-style-type:none;
		float:left;
		width:20%;
		text-align:center;
	}

	div#footer a{
		display:block;
		text-decoration: none;
	}

		
		/*desktop*/
@media all and (min-width:1280px){
	div#page{
		width:60%;
		margin:0 auto;
		padding:0 20px;
	}
	
}

/*tablet*/
@media all and (min-width:481px) and (max-width:1279px){
	div#page{
		width:100%;
		margin:0 auto;
		padding:0 .8em;
	}
	
}

/*phone*/
@media all and (max-width:480px){
	div#page{
		width:100%;
		margin:0 auto;
		padding:0 .8em;
	}
	
	div#header{
		font-size:2em;
		
	}

}
 Update File

Thank you for creating with WordPress. Version 4.6.1
